<h1>User Info</h1>

<div>
  <%= @user.user_name %>
</div>
<div>
  <%= @user.email %>
</div>
<div>
  <%= link_to "Edit Info", edit_user_path %>
  <%= link_to "Delete Account", user_path, method: :delete %>
</div>
