<h1>The Front Page of My Internet</h1>
<% @links.each do |link| %>
  <div>
    <p>
      <%= link_to "#{link.title}", link.url %>
      <%= link.description %>
      <%= link_to "Comment", new_comment_path %>
    </p>
  </div>
<% end %>
