<h1>Your Post</h1>

<div>
  <%= link_to "#{@link.title}", @link.url %>
</div>
<div>
  <%= @link.description %>
</div>


<%= link_to "Edit", edit_link_path %>
<%= link_to "Delete", link_path, method: :delete %>
