<h2>Your Comments</h2>

<% @comments.each do |comment| %>

<ul class="list-group">
    <li class ="list-group-item">
      <%= comment.body %>
      <div>
        <small><%= time_ago_in_words(Time.now) %></small>
      </div>
    </li>
  </ul>

<% end %>
