<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to "Profile", user_path(current_user) %></li>
    </ul>
  </div>
</nav>    

<h2>Your Comments</h2>

<% @comments.each do |comment| %>

<ul class="list-group">
    <li class ="list-group-item">
      <%= comment.body %>
      <div>
        <small><%= time_ago_in_words(Time.now) %></small>
      </div>
    </li>
  </ul>

<% end %>
